<link mispt-href="/BasePlus/MISPTFramework/PC/CSS/Common.css" rel="stylesheet" />
<link mispt-href="/BasePlus/InformationRegistModel/PC/CSS/FormCommon.css" rel="stylesheet" />

<script src="/BasePlus/MISPTFramework/PC/JS/LZMISPT-Controls.js"></script>
<script src="/BasePlus/MISPTFramework/PC/JS/LZMISPT-Resource.js"></script>
<script src="/BasePlus/MISPTFramework/PC/JS/LZMISPT-Project.js"></script>

<script src="/BasePlus/InformationRegistModel/PC/JS/Add.js"></script>
<script src="/BasePlus/InformationRegistModel/PC/JS/FormControl/IRM_Controls.js"></script>
<!--<link mispt-href="/AppPlus/PreBuildOwnersCollaboration/PC/CSS/ProjectInformation/ProjectInformation.css" rel="stylesheet" />-->
<style>
    .unit {
        float: right;
        height: 34px;
        width: 50px;
        background: azure;
        text-align: center;
        padding-top: 6px;
    }
    .unitinput {
        width: 580px;
    display: inline-block !important;
    }
</style>
<div name="InformationRegistModel_Add" id="InformationRegistModel_Add" ng-controller="InformationRegistModel_Add">
    <div class="mispt">
        <div class="modal-body">
            <form name="entityForm" class="form-horizontal" novalidate="novalidate" id="misptAddPage">
                <div form-control config=formcon viewPostData=viewPostData>
                </div>
            </form>
        </div>
    </div>
</div>

