<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--default: http,https,client(根据客户端请求)-->
  <servers default="client" group="plat">
    <server name="http">
      <![CDATA[
"servers":{
  "web":{
    "protocol":"http",
    "host":"@localhost",
    "port":8400
  },
  "message":{
    "protocol":"http",
    "host":"@localhost",
    "port":8500
  },
  "file": {
    "protocol": "http",
    "host": "192.168.11.51",
    "port": 8600
  },
  "filemanager": {
    "protocol": "http",
    "host": "192.168.11.51",
    "port": 8600
  },
  "openmanage":{
    "protocol": "http",
    "host": "@localhost",
    "port": 8700
  },
  "webapifortest":{
    "protocol": "http",
    "host": "@localhost",
    "port": 8101
  },
  "h5server":{
      "protocol":"http",
      "host":"@localhost",
      "port":8000
  }
},
"h5servers":{
  "web":{
    "protocol":"http",
    "host":"@localhost",
    "port":8000
  }
},"modules":{
  "default":"web",
  "web":"web",
  "message":"message",
  "file":"file",
  "filemanager":"filemanager",
  "openmanage":"openmanage",
  "webapifortest":"webapifortest",
  "h5server":"h5server"
}
]]>
    </server>
    <server name="https">
      <![CDATA[
"servers":{
  "web":{
    "protocol":"https",
    "host":"@localhost",
    "port":8444
  },
  "message":{
    "protocol":"https",
    "host":"@localhost",
    "port":8445
  },
  "file": {
    "protocol": "https",
    "host": "192.168.11.51",
    "port": 8446
  },
  "filemanager": {
    "protocol": "https",
    "host": "192.168.11.51",
    "port": 8446
  },
  "webapifortest":{
    "protocol": "https",
    "host": "@localhost",
    "port": 8101
  },
  "h5server":{
      "protocol":"https",
      "host":"@localhost",
      "port":8443
  }
},
"h5servers":{
  "web":{
    "protocol":"https",
    "host":"@localhost",
    "port":8443
  }
},
"modules":{
  "default":"web",
  "web":"web",
  "message":"message",
  "file":"file",
  "filemanager":"filemanager",
  "webapifortest":"webapifortest",
  "h5server":"h5server"
}
]]>
    </server>
  </servers>
</configuration>