<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--<container name="BlueTurnWhitePubSub">
      <register name="BlueTurnWhite" type=" LeadingCloud.BlueTurnWhite.SubManager,LeadingCloud.BlueTurnWhite">
        <lifetime type="singleton" />
      </register>
    </container>-->

  </unity>
</configuration>