<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--serverconfig  一个配置节点下只能存在一个-->
  <!--<serverconfig folder="配置目录名称" mqconsumer="消息队列配置.config" pubsub="发布订阅配置.config" />-->
  <serverconfig folder="MISPT"  apiserver="MISPT.config" />
  <apps >
    <!--一个应用配置-->
    <!--<app code="应用编码"  folder="应用配置目录"
         dbtype="数据库类型" connection="数据库连接配置.config" dbname="数据库名称" provider="数据库提供程序配置.config"
         unity="IoC依赖注入配置.config" />-->
    <app code="MISPT" folder="MISPT" unity="MISPT.config" />
  </apps>
</configuration>