<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <servers>
    <add
      key="StackExchange"
      value="127.0.0.1,allowAdmin=true,abortConnect=false,syncTimeout=360000,password=leadingcloud" />
    <add
  key="ServiceStack"
  value="leadingcloud@127.0.0.1" />

  </servers>
</configuration>
