<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <servers default="lzcloud">
    <server key="lzcloud">
      <rootpath type="abos" value="c:\files"></rootpath>
      <zippath type="abos" value="c:\files\zip"></zippath>
      <dirpath value="{yyyy}\{MM}\{dd}"/>
      <maxsize value="1024000100100"/>
      <filetype_allow value="*"/>
      <filetype_unallow value=""/>
      <convertffmpegpath value="/Components/ffmpeg/ffmpeg.exe"></convertffmpegpath>
    </server>
    <server key="ccwin10">
      <rootpath type="abos" value="c:\files"></rootpath>
      <zippath type="abos" value="c:\files\zip"></zippath>
      <dirpath value="{yyyy}\{MM}\{dd}"/>
      <maxsize value="1024000100100"/>
      <filetype_allow value="*"/>
      <filetype_unallow value=""/>
      <convertffmpegpath value="/Components/ffmpeg/ffmpeg.exe"></convertffmpegpath>
    </server>
  </servers>
</configuration>