<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <settings>
    <!--平台级设置-->
    <!-- 是否可以注册 -->
    <setting key="registrable" value="true"/>
    <!-- 管理员是否可以批量导入员工,excel导入,不覆盖员工信息-->
    <setting key="batimpuserable" value="true" />
    <!-- 管理员是否可以批量导入员工,excel导入,覆盖员工信息-->
    <setting key="batimpcoveruserable" value="false" />
    <!-- 管理员是否可以批量邀请员工 -->
    <setting key="batinvuserable" value="true" />
    <!-- 是否允许加入组织 -->
    <setting key="joinorgable" value="true" />
    <!-- 是否允许创建组织 -->
    <setting key="createorgable" value="true" />
    <!-- 是否允许应用或组织设置 -->
    <setting key="apporgsetable" value="true" />
    <!-- 是否允许管理员设置员工密码 -->
    <setting key="adminsetpwdable" value="false" />
    <!--是否允许邮箱账号设置-->
    <setting key="setemailable" value="true"/>
    <!--是否允许手机账号设置-->
    <setting key="setmobilable" value="true"/>
    <!--是否允许设置可逆AES加密密码-->
    <setting key="setreversepwdable" value="true"/>
    <!--可逆AES加密秘钥-->
    <setting key="reversepwdcrypt" value="1BADDF99C0E411E68C8500155D0A0B20"/>
  </settings>
</configuration>
