<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <idworkers default="default" debug="true">
    <!--默认值，刚开始是33，程序会报错，程序发布后，会改成真正的值，这里的hostname只是为了开发方便用的-->
    <!--key 在开发阶段，是开发人员的机器名（全小写）-->
    <idworker key="default" datacenterId="30" workerId="1" />
    <idworker key="hy" user="hy" datacenterId="11" workerId="1" />
    <idworker key="swd" user="swd" datacenterId="12" workerId="1" />
    <idworker key="lrwin10" user="lr" datacenterId="13" workerId="1" />
    <idworker key="yfw10" user="yf" datacenterId="14" workerId="1" />
    <idworker key="wjxw10" user="wjx" datacenterId="15" workerId="1" />
    <idworker key="ccwin10" user="cc" datacenterId="16" workerId="1" />
    <idworker key="wnw10" user="wn" datacenterId="17" workerId="1" />
    <idworker key="xl" user="xl" datacenterId="18" workerId="1" />
    <idworker key="wlw10" user="wl" datacenterId="19" workerId="1" />
    <idworker key="wdw10" user="wd" datacenterId="20" workerId="1" />
    <idworker key="zhtw10" user="zht" datacenterId="21" workerId="1" />
    <idworker key="slmw10" user="slm" datacenterId="22" workerId="1" />
    <idworker key="sjzw10" user="sjz" datacenterId="23" workerId="1" />
    <idworker key="wchwin10" user="wch" datacenterId="24" workerId="1" />
    <idworker key="fcm" user="fcm" datacenterId="25" workerId="1" />
    <idworker key="lykwin10" user="lyk" datacenterId="26" workerId="1" />
    <idworker key="lzcloudwebapi" user="15" datacenterId="30" workerId="1" />
    <idworker key="lzclouddev" user="150" datacenterId="31" workerId="1" />

  </idworkers>
</configuration>