<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--default: http,https,client(根据客户端请求)-->
  <servers default="client" group="mispt">
    <server name="http">
      <![CDATA[
"servers":{
        "misptserver":{
              "protocol":"http",
              "host":"@localhost",
              "port":8413
        },
        "cooperationtaskmodel":{
              "protocol":"http",
              "host":"@localhost",
              "port":8426
        },
        "informationregistmodel":{
              "protocol":"http",
              "host":"@localhost",
              "port":8434
        }
   },
"modules":{
  "misptserver":"misptserver",
  "cooperationtaskmodel":"cooperationtaskmodel",
  "informationregistmodel":"informationregistmodel"
}
]]>
    </server>
    <server name="https">
      <![CDATA[
"servers":{
        "misptserver":{
              "protocol":"https",
              "host":"@localhost",
              "port":9413
        },
        "cooperationtaskmodel":{
              "protocol":"http",
              "host":"@localhost",
              "port":9426
        },
        "informationregistmodel":{
              "protocol":"http",
              "host":"@localhost",
              "port":9434
        }
   },
"modules":{
  "misptserver":"misptserver",
  "cooperationtaskmodel":"cooperationtaskmodel",
  "informationregistmodel":"informationregistmodel"
}
]]>
    </server>
  </servers>
</configuration>