<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pubsub"
             type="LeadingCloud.Framework.PubSub.PubSubConfig,LeadingCloud.Framework"/>
  </configSections>
  <pubsub>
    <!--频道发布-->
    <pubs>
      <!--用户创建企业 -->
      <!--参数说明:
            数据对象 Data 类型: LeadingCloud.Core.DataModel.Organization.OrganizationModel
            Context说明：
                    key               value                       说明
                    tokenid           tokenid                     当前用户tokenid
                    uid               用户ID                      字符串
                    showgroup         是否创建工作组              值为0或1,1代表是，0代表否
      -->
      <!--修改用户的姓名-->
      <channel name="User.UpdateUserName"></channel>

      <channel name="Organization.EvCreateOrg"></channel>
      <!--修改企业名称-->
      <channel name="Organization.EvUpdateEnterprise"></channel>
      <channel name="Organization.EvDisbandEnterprise"></channel>
      <!--用户创建部门 -->
      <channel name="Organization.EvCreateDepartment"></channel>
      <!--修改部门简称-->
      <channel name="Organization.EvUpdateDept"></channel>
      <!--组织控制官方群组的显示-->
      <channel name="Organization.EvChangeShowGroup"></channel>
      <!--删除部门-->
      <channel name="Organization.EvDeleteDepartment"></channel>

      <!--用户通过email进行注册-->
      <!--<channel name="User.EvRegisterByEmail"></channel>-->
      <!--用户通过手机号进行注册-->
      <!--<channel name="User.EvRegisterByMobile"></channel>-->
      <!--修改用户在企业下的名称-->
      <channel name="Organization.EvUpdateEnterUsername"></channel>
      <!--组织logo改变-->
      <channel name="Organization.EnterLogoChange"></channel>
      <!--修改协作名称-->
      <channel name="Cooperation.EvUpdateCooperationame"></channel>
      <!--添加协作成员-->
      <channel name="Cooperation.EvAddUser"></channel>
      <!--删除协作成员-->
      <channel name="Cooperation.EvDeleteUser"></channel>

      <!--组织下新增人员-->
      <channel name="Organization.EvAddUser"></channel>
      <!--组织下批量新增人员-->
      <channel name="Organization.EvBatAddUser"></channel>
      <!--组织下移除人员-->
      <channel name="Organization.EvDeleteUser"></channel>
      <!--组织下调整部门-->
      <channel name="Organization.EvAdjustOrgUser"></channel>
      <!--设为管理员-->
      <channel name="Organization.SetAdmin"></channel>
      <!--取消管理员-->
      <channel name="Organization.CancelAdmin"></channel>
      <!--组织下修改岗位-->
      <channel name="Organization.EvUpdatePostname"></channel>
      <!--组织下修改事项-->
      <channel name="Organization.EvUpdateOrgBusinessname"></channel>
      <!--组织下删除岗位-->
      <channel name="Organization.EvDelPost"></channel>
      <!--组织下删除事项-->
      <channel name="Organization.EvDelOrgBusiness"></channel>
      <!--组织下删除基准岗位-->
      <channel name="Organization.EvDelBasePost"></channel>

      <!--组织批量邀请用户-->
      <channel name="Organization.EvOrgBatchInviteUserImport"></channel>

      <!--<channel name="Organization.EvOrgBatchIlegalUserImport"></channel>-->

      <!--修改信息类别名称-->
      <channel name="Resource.EvUpdateResourcedefinename"></channel>
      <!--删除信息类别-->
      <channel name="Resource.EvDelResourcedefine"></channel>

      <!--任务-->
      <!--修改任务名称-->
      <channel name="Task.EvUpdateName"></channel>
      <!--删除任务-->
      <channel name="Task.EvDelete"></channel>
      <!--修改任务状态-->
      <channel name="Task.EvUpdateState"></channel>



      <!--单个对象添加收藏 -->
      <!--参数说明:
            数据对象 Data 类型: 
            Context说明：
                    key               value                       说明
                    tokenid           tokenid                     当前用户tokenid
                    type              收藏类型                    值为（  0	动态,1	任务, 2	资源，3	项目）
                    objectid          收藏对象id                  字符串
                    uid               用户id                      字符串
    -->
      <channel name="Favorites.Add.Single"></channel>

      <!--移除某个类型所有收藏 -->
      <!--参数说明:
            数据对象 Data 类型: 
            Context说明：
                    key               value                       说明
                    tokenid           tokenid                     当前用户tokenid
                    type              收藏类型                    值为（  0	动态,1	任务, 2	资源，3	项目）
                    uid               用户id                      字符串
      -->
      <channel name="Favorites.Remove.Type"></channel>


      <!--移除所有收藏 -->
      <!--参数说明:
            数据对象 Data 类型: 
            Context说明：
                    key               value                       说明
                    tokenid           tokenid                     当前用户tokenid                   
                    uid               用户id                      字符串
      -->
      <channel name="Favorites.Remove.All"></channel>


      <!--移除单个收藏 -->
      <!--参数说明:
            数据对象 Data 类型: 
            Context说明：
                    key               value                       说明
                    tokenid           tokenid                     当前用户tokenid
                    type              收藏类型                    值为（  0	动态,1	任务, 2	资源，3	项目）
                    objectid          收藏对象id                  字符串
                    uid               用户id                      字符串
      -->
      <channel name="Favorites.Remove.Single"></channel>


      <!--移除多个收藏 -->
      <!--参数说明:
            数据对象 Data 类型: Dictionary<string, List<string>>   key 为 收藏类型   List<string> 收藏对象id集合
            Context说明：
                    key               value                       说明
                    tokenid           tokenid                     当前用户tokenid                 
                    uid               用户id                      字符串
      -->
      <channel name="Favorites.Remove.Multiple"></channel>

    </pubs>
    <!--订阅-->
    <subs>
    </subs>
  </pubsub>
</configuration>