<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!--信息登记模型的数据库访问IOC配置-->
    <container name="InformationRegistModel">

      <!--        信息登记模型   设计时-->
      <!--                模块配置日志-->
      <register type="LeadingCloud.MISPT.InformationRegistModel.SQL.Design.Providers.MongoDB.ModelConfigLogMongoDBProvider,LeadingCloud.MISPT.InformationRegistModel.SQL">
        <lifetime type="singleton" />
      </register>
      <!--                模块配置   配置数据和发布后数据-->
      <register type="LeadingCloud.MISPT.InformationRegistModel.SQL.Design.Providers.MongoDB.ModelDesignDataDbProvider,LeadingCloud.MISPT.InformationRegistModel.SQL">
        <lifetime type="singleton" />
      </register>
      <register type="LeadingCloud.MISPT.InformationRegistModel.SQL.Design.Providers.MongoDB.ModelPublishDataDbProvider,LeadingCloud.MISPT.InformationRegistModel.SQL">
        <lifetime type="singleton" />
      </register>
      <!--模块分类-->
      <register type="LeadingCloud.MISPT.InformationRegistModel.SQL.Design.Providers.MongoDB.ModelClassMongoDBProvider,LeadingCloud.MISPT.InformationRegistModel.SQL">
        <lifetime type="singleton" />
      </register>


      <!--信息登记模型   运行时-->
      <!--业务数据处理-->
      <register type="LeadingCloud.MISPT.InformationRegistModel.SQL.Runtime.Providers.MongoDB.ModelBusinessDataMongoDBProvider,LeadingCloud.MISPT.InformationRegistModel.SQL">
        <lifetime type="singleton" />
      </register>
      <!--用户扩展字段-->
      <register  type="LeadingCloud.MISPT.InformationRegistModel.SQL.Runtime.Providers.MongoDB.ModelUserExtendDataMongoDBProvider,LeadingCloud.MISPT.InformationRegistModel.SQL">
        <lifetime type="singleton" />
      </register>
      <!--控件处理-->
      <register type="LeadingCloud.MISPT.InformationRegistModel.SQL.Design.Providers.MongoDB.ControlMongoDBProvider,LeadingCloud.MISPT.InformationRegistModel.SQL">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>