<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mq"
             type="LeadingCloud.Framework.MQ.MQConfig,LeadingCloud.Framework"/>
  </configSections>
  <mq name="webapi">
    <queues>
      <queue name="lzcache" switch="on"></queue>
      <queue name="lzlog" switch="on" singleserver="on"></queue>
    </queues>
    <consumers>
      <!--<consumer name="test111" container="mq" register="testa">
        <add quene="lztest"  switch="on" />
      </consumer>-->
      <!-- name 为消费者的唯一名称 app为应用编码  container  按统一标准规范为模块名称  ， register 为容器中的name 属性 attempt尝试次数默认为3次,-1为无限次-->
      <consumer name="lzlog" app="plat" container="MQ" register="LZLogMQ" attempt="1">
        <add quene="lzlog"  switch="on" />
      </consumer>
    </consumers>
  </mq>
</configuration>
