<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <databases default="SF">
    <!--MISPT技术模块数据库连接-->
    <add name="InformationRegistModel"
         type="LeadingCloud.Framework.Adapter.DB.LZDatabaseForMySql, LeadingCloud.Framework.Adapter"
         connectionString="server=192.168.11.51; user id=root; password=Misplatform1; database=InformationRegistModel;Allow User Variables=True; pooling=false; ">
      <readOnly>
        <add connectionString="server=192.168.11.51; user id=root; password=Misplatform1; database=InformationRegistModel;Allow User Variables=True;pooling=false;" />
      </readOnly>
    </add>
  </databases>
</configuration>