<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--serverconfig  一个配置节点下只能存在一个-->
  <!--<serverconfig folder="配置目录名称" mqconsumer="消息队列配置.config" pubsub="发布订阅配置.config" apiserver="服务器地址配置.config" />-->
  <serverconfig folder="InformationRegistModel" mqconsumer="mqconsumer.config" pubsub="pubsub.config"  />
  <!--应用配置：
      多个应用集成到一个站点下时，app节点会存在多个，考虑到目前我们站点的现状，多个应用集成到一个站点时，
      直接使用多文件夹的方式即可，不适用这种apps集合的方式-->
  <apps >
    <!--一个应用配置-->
    <!--<app code="应用编码"  folder="应用配置目录"
         dbtype="数据库类型" connection="数据库连接配置.config" dbname="数据库名称" provider="数据库提供程序配置.config"
         unity="IoC依赖注入配置.config" />-->

    <app code="InformationRegistModel"  folder="InformationRegistModel"
         dbtype="Generic" connection="connection.config" dbname="InformationRegistModel" provider="provider.config"
         unity="unity.config" 
        nosqlconnection="mongodbconnection.config"
        nosqldbname="InformationRegistModel"/>
  </apps>
</configuration>
