<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <serverconfig folder="plat" mqconsumer="mqconsumer.config" pubsub="pubsub.config" apiserver="apiserver.config" />
  <!--dbtype:Generic|MSSQL|Oracle-->
  <apps code="plat" folder="plat"
        dbtype="Generic" connection="connection.config"
        dbname="LC"
        unity="plat.config"
        >
  </apps>
</configuration>