<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IMongoDBProvider" type="LeadingCloud.MISPT.Framework.Database.Interfaces.IMongoDBProvider,LeadingCloud.MISPT.Framework" />
    <!--          MongoDB数据库访问提供程序实现类-->
    <alias alias="MongoDBProvider" type="LeadingCloud.MISPT.Framework.Adapter.Database.MongoDBProvider,LeadingCloud.MISPT.Framework.Adapter" />


    <!--  框架接口类型映射-->
    <container name="default">
      <!--        MongoDB数据库提供程序IoC注册-->
      <register  type="IMongoDBProvider" mapTo="MongoDBProvider" >
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>