<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link href="../../../../../Components/Mobile/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../../../../../Components/Mobile/mui/css/mui.picker.css" rel="stylesheet" />
    <link href="../../../../../Components/Mobile/mui/css/mui.poppicker.css" rel="stylesheet" />
    <link href="../CSS/TaskCommon.css" rel="stylesheet" />
    <link href="../CSS/FormControls.css" rel="stylesheet" />
    <link href="../CSS/ImageList.css" rel="stylesheet" />
    <link href="../CSS/iconfont.css" rel="stylesheet" />
    <link href="../CSS/TaskAdd.css" rel="stylesheet" />
    <link href="/BasePlus/MISPTModule/Mobile/CSS/TeamPersonPicker.css" rel="stylesheet" />
</head>
<body>
    <div class="mui-content">
        <form></form>
        <div id="operation-buttons" class="mui-content-padded lzm-display-none">
            <button type="button" id="form-save" class="mui-btn mui-btn-block">保存</button>
            <button type="button" id="form-publish" class="mui-btn mui-btn-primary mui-btn-block">发布</button>
        </div>
    </div>
    <script src="../JS/requirejs/require.js"></script>
    <script src="../../../../../Components/Mobile/mui/js/mui.js"></script>
    <script src="../../../../../Components/Mobile/mui/js/mui.picker.js"></script>
    <script src="../../../../../Components/Mobile/mui/js/mui.poppicker.js"></script>
    <script src="../../../../../Base/Mobile/JS/LeadingCloud.js"></script>
    <script src="../../../../../../Base/Mobile/JS/LzFileSDK.js"></script>
    <script src="../../Common/JS/IRM_Common.js"></script>
    <script src="../JS/ImageList.js"></script>
    <script src="../JS/FormManager.js"></script>
    <script src="../JS/TaskManager.js"></script>
    <script src="/BasePlus/MISPTModule/Mobile/JS/ProjectTeam/TeamPersonPicker.js"></script>
    <script src="../JS/TaskAdd.js"></script>
</body>
</html>