<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
</head>
<body>
    <script src="../JS/requirejs/require.js"></script>
    <script src="../../../../../Components/Mobile/mui/js/mui.js"></script>
    <script src="../../../../../Base/Mobile/JS/LeadingCloud.js"></script>
    <script src="../../../../../../Base/Mobile/JS/LzFileSDK.js"></script>
    <script src="../../Common/JS/IRM_Common.js"></script>
    <script src="../JS/TaskDetailFrame.js"></script>
    <script src="../JS/TaskManager.js"></script>
</body>
</html>
