<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pubsub"
             type="LeadingCloud.Framework.PubSub.PubSubConfig,LeadingCloud.Framework"/>
  </configSections>
  <pubsub>
    <!--频道发布-->
    <pubs>
      <!--收藏变更（用于通知客户端） -->
      <!--<channel name="BlueTurnWhite.OnFavoriteChangeToClient"></channel>-->
    </pubs>
    <!--订阅-->
    <subs>
      <!-- name 为订阅者的唯一名称  container  按统一标准规范为模块名称  ， register 为容器中的name 属性-->
      <!--<listener container="ModuleName" register="SubB">
        -->
      <!--支持多个订阅，频道名支持通配符 “*”-->
      <!--
        <add channel="channel1" switch="off"></add>
        <add channel="channel2" switch="on"></add>
      </listener>-->
    </subs>
  </pubsub>
</configuration>