<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mq"
             type="LeadingCloud.Framework.MQ.MQConfig,LeadingCloud.Framework"/>
  </configSections>
  <mq name="webapi">
    <queues>
    </queues>
    <consumers>
    </consumers>
  </mq>
</configuration>
